/* Footer CSS */

footer .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footerGrey {
    color: #848484;
}

footer .copyright {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

footer .shortCuts {
    display:  flex;
    gap: 2rem;
}

footer .madeBy span {
    color: #848484;
}